header{
    background-color: aqua;
    height: 120px;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#logo{
    height: 80px;
    position: absolute;
    left: 47%;
    top: 18px;
}

main{
    height: 700px;
    background-color: antiquewhite;
}

nav{
    position: absolute;
    right: 5px;
    top: 25px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 40px;
}

.centrar{
    text-align: center;
}

#menu{
    display: flex;
    flex-flow: column wrap;
}

#menutxt{
    width: 500px;
    text-align: justify;
    position: relative;
    top: 90px;
    left: 30px;
}

#txt{
    display: flex;
    flex-wrap: wrap;
}

footer{
    background-color:aquamarine;
    position: absolute;
    top: 100%;
    width: 100%;
}

#boton-regreso{
    position: relative;
    justify-content: center;
}

#derechos{
    position: relative;
    text-align: end;
}
