* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@media screen and (max-width: 670px) {
  html {
    font-size: 11px;
  }
}
body {
  background-color: #F9CDAD;
  height: 700px;
}
body header {
  background-color: #45ADA8;
}
body header #header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
body header #logo {
  height: 80px;
}
body header .menulinks {
  list-style: none;
}
body header .menulinks a {
  text-decoration: none;
  color: black;
}
body header .menulinks :hover {
  color: #F9CDAD;
}
body header h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body main #menutxt {
  width: 50%;
  position: relative;
  top: 90px;
  left: 30px;
  display: flex;
  flex-wrap: wrap;
}
body main #menutxt li {
  padding-top: 45px;
}
body main .video {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 1400px) {
  body main .video {
    width: 25%;
    left: 1000px;
    bottom: 250px;
  }
}
@media screen and (max-width: 400px) {
  body main .video {
    visibility: hidden;
    width: 80px;
    height: 80px;
  }
  body main .video iframe {
    width: 120px;
  }
}
body main #menuimg {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body main #menuimg #img1-menu {
  height: 200px;
  width: 300px;
}
body main #menuimg #img2-menu {
  height: 200px;
  width: 200px;
}
@media screen and (max-width: 1200px) {
  body main #menuimg {
    position: relative;
  }
  body main #menuimg #img1-menu {
    visibility: hidden;
    height: 100px;
    width: 150px;
  }
  body main #menuimg #img2-menu {
    visibility: hidden;
    height: 100px;
    width: 100px;
  }
}
@media screen and (min-width: 950px) {
  body main #menuimg {
    position: relative;
    bottom: 300px;
    left: 50%;
  }
}
body main .centrar {
  width: 100%;
  text-align: center;
  padding-right: 50px;
}
body main .img1productos {
  width: 250px;
  height: 200px;
}
body main .img2productos {
  width: 250px;
  height: 200px;
}
body main #productos {
  padding-top: 2%;
  padding-left: 25%;
  padding-right: 25%;
}
@media (max-width: 980px) {
  body main .img1productos {
    width: 125px;
    height: 100px;
  }
  body main .img2productos {
    width: 125px;
    height: 100px;
  }
}
body main .imgproductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}
body main .centrar-espaciado {
  width: 100%;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 3%;
}
body main .centrar-espaciado li {
  padding-top: 4%;
}
body main #img1-redes {
  height: 50px;
  width: 50px;
}
body main #img2-redes {
  height: 50px;
  width: 50px;
}
body main #img3-redes {
  height: 50px;
  width: 75px;
}
body main .redes {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 650px) {
  body main .cajaformulario #formulario {
    width: 400px;
  }
}
@media screen and (max-width: 420px) {
  body main .cajaformulario #formulario {
    width: 130px;
  }
}
body main #txt {
  display: flex;
  flex-wrap: wrap;
}
body main #txt .txt-nosotros {
  position: relative;
  text-align: center;
}
body main #subtitulo {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
body main #lista-nosotros {
  padding-left: 25%;
  padding-right: 25%;
  align-content: center;
  text-align: center;
}
body main .txt-nosotros-size {
  padding-top: 15px;
}
@media screen and (min-width: 950px) {
  body main .cajaformulario {
    padding-left: 30%;
    padding-right: 25%;
  }
}
@media screen and (max-width: 700px) {
  body main #lista-nosotros {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 400px) {
  body main .centrar {
    padding-right: 0px;
    text-align: left;
  }
}
@media screen and (max-width: 1000px) {
  body main .txt-nosotros-size {
    font-size: 10px;
  }
}
@media screen and (max-width: 1050px) {
  body main .txt-nosotros {
    font-size: 9.5px;
  }
}
@media screen and (min-width: 1050px) {
  body main .txt-nosotros {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 15px;
  }
}
@media screen and (max-width: 700px) {
  body main .centrar {
    font-size: 11px;
  }
}

footer {
  background-color: #45ADA8;
  position: relative;
  top: 100%;
  width: 100%;
  height: 250px;
}
footer #piedepagina {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}
footer #derechos {
  display: flex;
  justify-content: end;
}
footer #boton-regreso {
  position: absolute;
  left: 45%;
  bottom: 5%;
}
footer #boton-regreso :hover {
  color: #F9CDAD;
}
footer a {
  color: black;
  text-decoration: none;
}
footer #mapa {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 200px;
}
@media (max-width: 540px) {
  footer #mapa {
    width: 120px;
    height: 175px;
  }
}

/*# sourceMappingURL=style.css.map */
