*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@media screen and (max-width: 670px){
    html{
        font-size: 11px;
    }
}

body{
    background-color: #F9CDAD;
    height: 700px;
    header{
        background-color: #45ADA8;
        #header{
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            align-items: center;
        }
        #logo{
            height: 80px;
        }
        .menulinks{
            a{
                text-decoration: none;
                color: black;
            }
            list-style: none;
            :hover{
                color: #F9CDAD;
            }
        }
        h1{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
    main{
        #menutxt{
            width: 50%;
            position: relative;
            top: 90px;
            left: 30px;
            li{
                padding-top: 45px;
            }
            display: flex;
            flex-wrap: wrap;
        }
        .video{
            width: 300px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            @media screen and (min-width: 1400px) {
                width: 25%;
                left: 1000px;
                bottom: 250px;
            }
            @media screen and (max-width: 400px) {
                visibility: hidden;
                width: 80px;
                height: 80px;
                iframe{
                    width: 120px;
                }
            }
        }
        #menuimg{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            #img1-menu{
                height: 200px;
                width: 300px;
            }
            
            #img2-menu{
                height: 200px;
                width: 200px;
            }
            @media screen and (max-width: 1200px) {
                position: relative;
                #img1-menu{
                    visibility: hidden;
                    height: 100px;
                    width: 150px;
                }
                
                #img2-menu{
                    visibility: hidden;
                    height: 100px;
                    width: 100px;
                }
            }
            @media screen and (min-width: 950px) {
                position: relative;
                bottom: 300px;
                left: 50%;
            }
        }
        .centrar{
            width: 100%;
            text-align: center;
            padding-right: 50px;
        }
        .img1productos{
            width: 250px;
            height: 200px;
        }
        .img2productos{
            width: 250px;
            height: 200px;
        }
        #productos{
            padding-top: 2%;
            padding-left: 25%;
            padding-right: 25%;
        }
        @media (max-width: 980px) {
            .img1productos{
                width: 125px;
                height: 100px;
            }
            .img2productos{
                width: 125px;
                height: 100px;
            }
        }
        .imgproductos{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-evenly;
        }
        .centrar-espaciado{
            width: 100%;
            text-align: center;
            padding-left: 30%;
            padding-right: 30%;
            padding-top: 3%;
            li{
                padding-top: 4%;
            }
        }
        #img1-redes{
            height: 50px;
            width: 50px;
        }
        #img2-redes{
            height: 50px;
            width: 50px;
        }
        #img3-redes{
            height: 50px;
            width: 75px;
        }
        .redes{
            position: relative;
            top: 10px;
            display: flex;
            justify-content: space-around;
        }
        .cajaformulario{
            @media screen and (max-width: 650px){
                #formulario{
                    width: 400px;
                } 
            }
            @media screen and (max-width: 420px){
                #formulario{
                    width: 130px;
                } 
            }
        }
        #txt{
            display: flex;
            flex-wrap: wrap;
            .txt-nosotros{
                position: relative;
                text-align: center;
            }
        }
        #subtitulo{
            width: 100%;
            text-align: center;
            padding-top: 10px;
        }
        #lista-nosotros{
            padding-left: 25%;
            padding-right: 25%;
            align-content: center;
            text-align: center;
        }
        .txt-nosotros-size{
            padding-top: 15px;
        }
        @media screen and (min-width: 950px){
            .cajaformulario{
                padding-left: 30%;
                padding-right: 25%;
            } 
        }
        @media screen and (max-width: 700px){
            #lista-nosotros{
                padding-left: 5%;
                padding-right: 5%;
            }
        }
        @media screen and (max-width: 400px){
            .centrar{
                padding-right: 0px;
                text-align: left;
            }
        }
        @media screen and (max-width: 1000px){
            .txt-nosotros-size{
                font-size: 10px;
            }
        }
        
        @media screen and (max-width: 1050px){
            .txt-nosotros{
                font-size: 9.5px;
            } 
        }
        
        @media screen and (min-width: 1050px){
            .txt-nosotros{
                padding-left: 30%;
                padding-right: 30%;
                padding-top: 15px;
            } 
        }
        @media screen and (max-width: 700px){
            .centrar{
                font-size: 11px;
            } 
        }
    }
}

footer{
    background-color:#45ADA8;
    position: relative;
    top: 100%;
    width: 100%;
    height: 250px;
    #piedepagina{
        width: 100%;
        display: flex;
        flex-flow: wrap;
    }
    #derechos{
        display: flex;
        justify-content: end;
    }
    #boton-regreso{
        position: absolute;
        left: 45%;
        bottom: 5%;
        :hover{
            color: #F9CDAD;
        }
    }
    a{
        color: black;
        text-decoration: none;
    }
    #mapa{
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        height: 200px;
    }
    @media (max-width: 540px) {
        #mapa{
            width: 120px;
            height: 175px;
        }
    }
}



